<%= render 'layouts/header' %>
  <body>
    <header>
      <div class="container">
        <h1><%= link_to "Odot", root_path %></h1>
        <ul>
          <li><%= link_to "Todo Lists", todo_lists_path %></li>
        </ul>
        <div class="clear"></div>
      </div>
    </header>
    <div class="container">
      <% flash.each do |type, message| %>
        <div class="alert flash <%= type %>">
          <%= message %>
        </div>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
